node_modules
.next
.git
.gitignore
*.md
*.log
*.txt
*.json
!package.json
!package-lock.json
!tsconfig.json
!next.config.ts
!postcss.config.mjs
!eslint.config.mjs
Dockerfile
.dockerignore
.env*
scratch/
